.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

src/chapter02/examples
src/chapter03/examples
src/chapter04/examples
src/chapter05/examples
src/chapter06/examples
src/chapter07/examples